body {
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
}

.container {
  background: rgb(90, 91, 75);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.gender label {
  margin-right: 15px;
  font-weight: normal;
}

.buttons {
  margin-top: 15px;
  text-align: center;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  color: rgb(239, 239, 239);
  cursor: pointer;
}

.submit {
  background-color: #F9CB99;
}

.reset {
  background-color: #689B8A;
  margin-left: 10px;
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #4A9782;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
}

.modal-buttons button {
  margin: 10px 5px;
}

#closeBtn {
  background-color: #007bff;
}

#closeResetBtn {
  background-color: #28a745;
}